body{
  padding: 0px;
  margin: 0px;
}
*{
  box-sizing: border-box;
  font-family: sans-serif;
}

.left-text p,
.box-text p,
.thesis-left-text p,
#footer,
h4,
.box-text h3{
  color: #6F6F6F;
}

a{
  text-decoration: none;
  font-size: 25px;
}

h1, h2, h3{
  color: #444444;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 64px;
}

.first-part-logo{
  font-weight: bold;
  color: #444444;
}

.second-part-logo{
  color: #6F6F6F;
}

.header-logo{
display: flex;
}
.header-logo span{
  font-size: 25px;
}

.mobile-logo{
  display: none;
}

.header-logo p{
  display: block;
}

.header-logo img{

}

#menu a{
  margin: 0px 8px;
  text-decoration: none;
  color: #51514F;
}

@media only screen and (max-width: 851px) {
  .header-logo{
    display: none;
  }

  #menu a{
    display: none;
  }

  .mobile-logo{
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
  }

}

#body{
  display: flex;
  background-color: lightgrey;
}
.body-img{
  padding: 32px 24px;
  width: 60%;
}

.body-img img{
  width: 100%;
}

.body-text{
  padding-left: 16px;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
}

.body-text h1{
  font-size: 80px;
  margin:0 auto;
}

.body-text h2{
  font-size: 40px;
}

p span{
  font-size: 20px;
}

.body-text span{
  display: flex;
  justify-content: center;
  border: 1px solid #51514F;
  background-color: #51514F;
  padding: 25px;
  margin-right: 50px;
  line-height: 15px;
  color: white;
}

@media only screen and (max-width: 1060px) {
  #body{
    flex-wrap: wrap;
  }

  .body-img{
    width: 100%;
    padding: 0;
    height: 180px;
    overflow: hidden;
  }

  .body-text h1{
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .body-text h2{
    padding-bottom: 24px;
  }

  .body-text p{
    padding-bottom: 32px;
    margin: 0px 16px 0px 0px;
  }

  .body-text span{
    margin: 0;
  }
}

#idk{
  display: flex;
}

#idk .left{
  border-right: 1px solid #F0F0F0;
  padding: 32px 24px;
}

.left{
  width: 60%;
}
.left-text h1{
 padding-top: 32px;
 padding-bottom: 24px;
 font-weight: bold;
 margin: 0px auto;
 font-size: 50px;
}

.left-text p{
  margin: 0px auto;
  font-size: 23px;
}

.left-image img{
  width: 100%;
}

.right{
width: 40%;
padding-top: 16px;
}

.right-box{
  display: flex;
}

.right-box-img{
  width: 35%;
}

.right-box img{
  width: 100%;
  padding: 16px;
}

.right-box-text h3{
  font-size: 25px;
}

.right-box-text h4{
  line-height: 8px;
  font-weight: normal;
}

.right-box-text a{
  color: #349bff;
  font-size: 20px;
}

.special{
  background-color: #D9D9D9;
}

.campus{
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}

@media only screen and (max-width: 964px) {
  .left{
    display: none;
  }

  .right{
    width: 100%;
  }

  .right-box{
    flex-flow: wrap column;
  }

  .right-box-img{
    display: block;
    width: 100%;
  }

  .right-box-img img{
    height: auto;
  }

  .right-box-text{
    padding-left: 32px;
  }

  .orientation, .campus{
    padding-bottom: 16px;
  }

  .special{
    padding-bottom: 32px;
    background-color: white;
  }

  .campus{
    border-top: 0px;
    border-bottom: 0px;
  }
}

#learning{
  background-color: #F0F0F0;
  padding-bottom: 32px;
}

#learning h1{
  margin: 0px auto;
  padding: 32px 0px;
  display: flex;
  justify-content: center;
}

.learn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boxes{
  background-color: white;
  margin: 16px;
}

.box-text{
  padding-left: 16px;
  padding-bottom: 24px;
}

.box-text h3{
  line-height: 8px;
  font-weight: normal;
}

.box-text p{
  font-size: 22px;
}

@media only screen and (max-width: 580px) {
  #learning{
    padding-bottom: 0px;
  }

  #learning h1{
    padding-top: 32px;
    padding-bottom: 16px;
    background-color: white;
    border-top: 1px solid lightgrey;
  }

  .boxes{
    width: 100%;
    margin: 0px 16px 8px 16px;
    background-color: lightgrey;
  }

  .box-img{
    display: none;
  }

  .box-text h3, .box-text p{
    display: none;
  }

  .learn{
    justify-content: space-around;
    width: 100%;
    background-color: white;
    padding-bottom: 32px;
  }

  .box-text{
    padding: 16px;
  }

  .box-text h2{
    margin: 0 auto;
  }
}

#thesis{

}

#thesis h1{
  text-align: center;
  padding: 32px;
  margin: 0 auto;
  font-size: 50px;
}

.thesis{
  display: flex;
  border-bottom: 1px solid #D9D9D9;
}

.thesis-left{
  padding-left: 24px;
}

.thesis-left{
  width: 60%;
  padding-right: 16px;
}

.thesis-left-video video{
  width: 100%;
  display: flex;
  margin-left: 0px;
  padding-bottom: 24px;
}

.thesis-left-text h3{
  margin: 0px auto;
  padding-bottom: 24px;
  font-size: 30px;
}

.thesis-left-text p{
  margin: 0px auto;
  padding-bottom: 32px;
  font-size: 23px;
}

.thesis-right{
  width: 40%;
}

.thesis-info{
  display: flex;
  align-items: center;
}

.thesis-info-text h3{
  font-size: 25px;
}

.thesis-info-text h4{
  line-height: 8px;
  font-weight: normal;
}

.grey{
  background-color: lightgrey;
}

.info-img{
  width: 35%;
}

.info-img img{
  width: 100%;
  padding: 16px;
}

@media only screen and (max-width: 1248px) {
  #thesis h1{
    border-top: 1px solid lightgrey;
  }

  .thesis-left-text, .thesis-right{
    display: none;
  }

  .thesis-left{
    width: 100%;
    padding: 0px;
    padding-bottom: 40px;
  }
}

#footer{
  display: flex;
  justify-content: space-between;
  padding: 18px 24px 56px 24px;
}

.left-footer{
  word-spacing: 10px;
}

@media only screen and (max-width: 580px) {
  .left-footer{
    display: none;
  }
  .footer{
    padding-bottom: 16px;
  }
}
